/*Arrendodamento de Imagens*/
/*.caixa{
    width: 400px;
    background: #dedede url(../image/topo2.png) no-repeat left top;
}*/

.caixa{
    width: 400px;
    background: #dedede url(../image/fundo-arredondamento.png) repeat-y;
}

.caixa h2{
    padding: 10px 20px 0 20px;
    background: url(../image/topo2.png) no-repeat left top;
}

/*.caixa p {
    padding: 0 20px 20px 20px;
    background: url(../image/baixo2.png) no-repeat left bottom;
}*/

.caixa p{
    padding: 0 20px;
    margin-bottom: 0;
}

.caixa .ultimo{
    background: url(../image/baixo2.png) no-repeat left bottom;
    width: 400px;
    height: 24px;
}